@import url("iran-sans.css");
@import url("../fonts/OpenSans.css");

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'IRANSans', 'Open Sans';
    direction: rtl;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  width: 100%;
  direction: rtl;
  padding-bottom: 8em;
}

.border-top {
  position: fixed;
  width: 100vw;
  height: 1em;
  background: #f1f1f1;
  top: 0;
  left: 0;
  z-index: 999999;
}

.border-bottom {
  position: fixed;
  width: 100vw;
  height: 1em;
  background: #f1f1f1;
  bottom: 0;
  left: 0;
  z-index: 999999;
}

.border-left {
  position: fixed;
  width: 1em;
  height: 100vh;
  background: #f1f1f1;
  top: 0;
  left: 0;
  z-index: 999999;
}

.border-right {
  position: fixed;
  width: 1em;
  height: 100vh;
  background: #f1f1f1;
  top: 0;
  right: 0;
  z-index: 999999;
}

.page {
  margin: 1em;
  padding: 2em;
}

#header {
  position: relative;
  width: 1248px;
  margin: 0 auto;
}

#menu {
  text-align: center;
}

#menu .logo {
  width: 24%;
  height: auto;
  display: inline-block;
}

#menu .logo img {
  width: 100%;
  height: auto;
}

#menu .menu-link {
  padding: 1em 2em;
}

#menu .menu-link a {
  text-decoration: none;
  color: #222;
  font-size: 2em;
  font-weight: 200;
  transition: .5s ease-in all;
}

#menu .menu-link a:hover {
  color: #c44;
}

#second-menu {
  position: relative;
  margin-bottom: -1.5em;
}

#second-menu .menu-link {
  padding: .5em 1em;
  display: inline-block;
  padding-bottom: 1.5em;
}

#second-menu .menu-link a {
  text-decoration: none;
  color: #222;
  font-size: 1em;
  font-weight: 200;
  transition: .5s ease-in all;
}

#second-menu .menu-link:hover a {
  color: #c44;
}

#second-menu .expandable-menu {
  position: absolute;
  width: 100%;
  min-height: 240px;
  box-sizing: border-box;
  top: 48px;
  left: 0;
  background: #fff;
  z-index: 2001;
  transform:translate(9999px);
  padding: 1em 0em;
  border-top: 1px solid #f1f1f1;
  padding-bottom: 4em;
  border-bottom: 3px solid #f1f1f1;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s ease-out;
}

#second-menu .menu-link:hover .expandable-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

#second-menu .menu-group-holder {
  display: flex;
  flex-direction: row;
}

#second-menu .menu-group-holder .menu-group {
  min-width: 145px;
  margin-left: 1em;
}

#second-menu .menu-group-holder .menu-group.flex-grow {
  min-width: 1px;
  flex-grow: 2;
}

#second-menu .menu-group-holder .menu-group:last-of-type {
  margin-left: 0em;
}

#second-menu .menu-group-holder .menu-group h3 {
  font-weight: 300;
  border-bottom: 1px solid #c1c1c1;
  margin-top: 0em;
  padding: 1em;
  box-sizing: border-box;
  margin-top: -.7em;
}

#second-menu .menu-group-holder .menu-group h4 {
  font-weight: 200;
  padding: 0em 1em;
  line-height: .6em;
}

#second-menu .menu-group-holder .menu-group ul {
  padding: 0;
  margin: 0;
}

#second-menu .menu-group-holder .menu-group li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#second-menu .menu-group-holder .menu-group.brands ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(2 * 80px + 2 * .3em + 4 * .4em + 4px);
  box-sizing: border-box;
}

#second-menu .menu-group-holder .menu-group.brands li {
  padding: .3em .4em;
  border: 1px solid #f1f1f1;
  margin-left: .3em;
  margin-bottom: .3em;
  box-sizing: border-box;
}

#second-menu .menu-group-holder .menu-group.brands li img {
  width: 80px;
  height: 40px;
}

#second-menu .menu-group-holder .menu-group.banners .menu-group-mini-banner a img {
  width: 100%;
  height: auto;
}

#second-menu .menu-group-holder .menu-group.banners .menu-group-mini-banner {
  border: 1px solid #f1f1f1;
  width: 240px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

#second-menu .menu-group-holder .menu-group.banners .menu-group-mini-banner a span {
  background: #f1f1f1;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em;
  color: #676767;
  line-height: 1em;
  text-align: center;
}

.page-section {
  width: 1248px;
  margin: 0 auto;
}

.separator {
  box-sizing: border-box;
  margin: 1em auto;
  text-align: center;
}

.separator h3 {
  font-weight: 200;
  padding: 1em;
  border-bottom: 1px solid #f1f1f1;
}

#main-page-slide-container {
  height: 340px;
  display: block;
  margin-top: 2em;
}

#main-page-slides,
#main-page-slide-container .item {
  width: 100%;
  height: 100%;
}

#main-page-slides .owl-stage-outer,
#main-page-slides .owl-stage,
#main-page-slides .owl-item {
  height: 100%;
}

#main-page-slides .item {
  padding: 2em;
  box-sizing: border-box;
  position: relative;
}

#main-page-slides .item .product-image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: auto;
}

#main-page-slides .item .description {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2em;
  width: 710px;
  font-weight: 300;
  line-height: 1.65em;
  text-align: justify;
}

#main-page-slides .item .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3em 1.5em;
}

#main-page-slides .item .buttons a {
  text-decoration: none;
  color: #fff;
  padding: .5em 2em;
  background: #000;
  border-radius: 3px;
  margin-right: 1em;
  box-sizing: border-box;
}

#main-page-slides .item .buttons a:hover {
  opacity: .9;
}

.search-bar {
  padding-top: 2em;
  width: 432px;
  box-sizing: border-box;
}

.search-bar .search-field input {
  width: 100%;
  box-sizing: border-box;
  padding: .7em 1em;
  font-weight: 200;
  border: 2px solid #aaa;
  padding-right: 2em;
}

.search-bar .search-field {
  position: relative;
}

.search-bar .search-field i {
  position: absolute;
  left: .6em;
  top: .6em;
  font-size: 1.5em;
  color: #888;
}

.product-search {
  margin-top: 2em;
}

.search-filter {
  margin-top: 2em;
  background: #f1f1f1;
  padding: 1em;
}

.search-filter .filter-collection {
  margin: 1em;
  margin-top: 1.5em;
  display: none;
}

.filter-checkbox-holder {
  font-weight: 300;
  position: relative;
  margin-bottom: .2em;
}

.filter-checkbox-holder .eng {
  direction: rtl;
  float: left;
}

.filter-checkbox-holder [type=checkbox] {
  display: none;
}

.filter-checkbox-holder .checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
  margin-left: .5em;
  margin-bottom: -5px;
  margin-right: -3px;
  position: relative;
  display: inline-block;
}

.filter-checkbox-holder .checkbox::after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
  transition: .4s all ease-out;
}

.filter-checkbox-holder .checkbox:hover::after {
  opacity: 0.3;
}

.filter-checkbox-holder [type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}

.expandable {
  display: none;
}

.search-filter .filter-expander {
  color: #212121;
  text-decoration: none;
  transition: .3s ease-in all;
}

.search-filter .filter-expander .name::after {
  content: ":";
}

.search-filter .filter-expander .chevron {
  margin-left: 12px;
  margin-right: 16px;
}

.search-filter .filter-expander .selections {
  font-weight: 300;
}

#featured-products-slides {
  margin-top: 2em;
}

.search-results .item .product-image-container,
#featured-products-slides .item .product-image-container {
  height: 165px;
  width: 165px;
  position: relative;
  margin: 0 auto;
}

.search-results .item .product-image-container img,
#featured-products-slides .item .product-image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.search-results .item,
#featured-products-slides .item {
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 180px;
  height: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-results .item .title,
#featured-products-slides .item .title {
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  flex-grow: 2;
}

.search-results .item .info,
#featured-products-slides .item .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1em;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: .5s ease-out all;
  border: 2px solid #000;
  z-index: 2;
}

.search-results .item:hover .info,
#featured-products-slides .item:hover .info {
  opacity: 1;
}

.search-results .item .info .description,
#featured-products-slides .item .info .description {
  overflow: hidden;
  flex-grow: 3;
  margin-bottom: .0em;
  font-weight: 200;
}

.search-results .item .info .buttons,
#featured-products-slides .item .info .buttons {
  text-align: center;
}

.search-results .item .info .buttons a,
#featured-products-slides .item .info .buttons a {
  padding: .4em 1em;
  box-sizing: border-box;
  width: 95%;
  margin-bottom: 8px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  transition: .4s ease-out all;
  color: #fff;
}

.search-results .item .info .buttons a,
#featured-products-slides .item .info .buttons a {
  background: #64908A;
}

.search-results .item .info .buttons a:first-of-type,
#featured-products-slides .item .info .buttons a:first-of-type {
  background: #C02942;
}

.search-results .item .info .buttons a:hover,
#featured-products-slides .item .info .buttons a:hover {
  opacity: .8;
}

.search-results .item .price-tags,
#featured-products-slides .item .price-tags {
  text-align: center;
}

.search-results .item .price-tags .price-original,
#featured-products-slides .item .price-tags .price-original {
  color: #c44;
  text-decoration: line-through;
  margin-left: 4px;
}

.search-results .item .price-tags .price::after,
#featured-products-slides .item .price-tags .price::after {
  content: "ریال";
}

.product-search {
  display: flex;
}

.search-results {
  width: 1370px;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  box-sizing: border-box;
}

.search-results .item {
  margin-left: .7em;
  margin-bottom: .7em;
  border-radius: 0;
}

.search-results .item .in-cart-info::after {
  content: '|'
}

.search-results .item:nth-of-type(4n+4) {
  margin-left: 0;
}

#brand-carousel {
  margin-top: 1em;
}

#brand-carousel .brand img {
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  transition: .15s all ease-out;
}

#brand-carousel .brand:hover img {
  filter: grayscale(0);
}

#brand-carousel .brand {
  padding: 1em;
  text-align: center;
  font-weight: 200;
  display: inline-block;
  box-sizing: border-box;
}

.policy-icons {
  display: flex;
  flex-direction: row;
}

.policy-icons .icon-container {
  width: 33%;
  box-sizing: border-box;
  padding: 2.5em;
  padding-top: 1em;
}

.policy-icons .icon-container .icon img {
  width: 100px;
  height: auto;
  margin-bottom: 1em;
  margin-right: .5em;
  margin-left: 2em;
}

.policy-icons .icon-container .info {
  font-weight: 300;
}

.featured-banners {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.featured-banners .featured-banner {
  width: calc(50% - .5em);
  box-sizing: border-box;
}

.featured-banners .featured-banner:first-of-type {
  margin-left: 1em;
}

.featured-banners .featured-banner img {
  width: 100%;
  height: auto;
}

.featured-banners .featured-banner span {
  background: #f1f1f1;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5em 1em;
  color: #676767;
  line-height: 1em;
  text-align: center;
  font-size: 1.15em;
}

.featured-banners .featured-banner span i {
  margin-right: .5em;
}

.latest-blog {
  display: flex;
  flex-direction: row;
}

.latest-blog .blog-post-summary {
  width: 25%;
  box-sizing: border-box;
  margin-left: 1.5em;
}

.latest-blog .blog-post-summary:last-of-type {
  margin-left: 0;
}

.latest-blog .blog-post-summary img {
  width: 100%;
  height: auto;
}

.latest-blog .blog-post-summary h3 {
  font-weight: 300;
}

.latest-blog .blog-post-summary span {
  font-weight: 200;
}

.latest-blog .blog-post-summary a {
  text-decoration: none;
  color: #6f47ff;
  transition: .3s linear all;
}

.latest-blog .blog-post-summary a:hover {
  color: #be26ff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
